/.vs/ConcurrentCallCruncher/v15/Server/sqlite3/db.lock
/.vs/ConcurrentCallCruncher/v15/Server/sqlite3/storage.ide
/.vs/ConcurrentCallCruncher/v15/Server/sqlite3/storage.ide-shm
/.vs/ConcurrentCallCruncher/v15/Server/sqlite3/storage.ide-wal
